.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

h2 {
  font-size: 2.5rem;
}

.user__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.user__graph {
  display: grid;
}

.user__selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  gap: 2rem;
  margin: auto;
}

.all__user__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 270px;
  gap: 3.5rem;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  font-size: 2rem;
  border: #FF0000 3px solid;
  border-radius: 6px;
  cursor: pointer;
}

.users:hover {
  background-color: #FF0000;
  color: #FFFFFF;
  border: #000000 3px solid;
}

.red__text {
  color: #FF0000;
}

.user__activity {
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.user__week__activity {
  max-width: 1000px;
  background-color: #F6F6F6;
  margin-bottom: 2rem;
}

.user__session {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  gap: 2rem;
}

.user__week__session {
  max-width: 333px;
  background-color: #FF0000;
  border-radius: 6px;
  padding: .5rem;
}

.user__score {
  max-width: 333px;
  background-color: #F6F6F6;
  border-radius: 6px;
  position: relative;
}

.score__title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.score__value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 36%;
  left: 38%;
  width: 60px;
}

.score__value>p:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
}

.score__value>p:nth-child(2) {
  width: max-content;
  font-size: 1.2rem;
  font-weight: 700;
  color: #74798C;
}

.score__value>p:nth-child(3) {
  width: max-content;
  font-size: 1.2rem;
  font-weight: 700;
  color: #74798C;
}

.user__performance {
  max-width: 333px;
  background-color: #282D30;
  border-radius: 6px;
  padding: .5rem;
}

.user__nutrition {
  height: 100%;
}

.nutrition__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 3.5rem;
}

.card {
  width: 240px;
  height: 110px;
  border-radius: 5px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.nutrition__text {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 600;
  color: #74798C;
}

.nutrition__value {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.energy__icons {
  background-color: #fbeaea;
}

.proteines__icons {
  background-color: #e9f4fb;
}

.glucides__icons {
  background-color: #faf6e5;
}

.lipides__icons {
  background-color: #fbeaef;
}

.custom-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background-color: #FF0000;
  padding: .5rem;
}

.label {
  color: #FFFFFF;
  font-size: .6rem;
  font-weight: 600;
}

.custom-tooltip-line {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbeaef;
  padding: .5rem;
}

.label-line {
  color: #000000;
  font-size: .6rem;
  font-weight: 600;
}

.first__circle {
  fill: none;
  stroke: #FF0000;
  stroke-width: 1.5px;
  stroke-dasharray: 101;
  stroke-linecap: round;
  transform-origin: center;
  transform: rotate(180deg);
}

.second__circle {
  fill: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .user__week__session {
    max-width: 180px;
    max-height: 180px;
    background-color: #FF0000;
    border-radius: 6px;
    padding: .5rem;
  }

  .user__performance {
    max-width: 180px;
    max-height: 180px;
    background-color: #282D30;
    border-radius: 6px;
    padding: .5rem;
  }

  .user__performance {
    max-width: 180px;
    max-height: 180px;
    background-color: #282D30;
    border-radius: 6px;
    padding: .5rem;
  }
}